openapi: 3.1.0
info:
  title: Google Cloud Compute Engine Google Compute Engine Disks API
  description: Creates and runs virtual machines on Google Cloud infrastructure, with support for managing disks, networks, and firewall rules.
  version: 1.0.0
  contact:
    name: Google Cloud
    url: https://cloud.google.com/compute
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://compute.googleapis.com/compute/v1
  description: Google Compute Engine API v1
security:
- oauth2:
  - https://www.googleapis.com/auth/compute
tags:
- name: Disks
  description: Manage persistent disks
paths:
  /projects/{project}/zones/{zone}/disks:
    get:
      operationId: listDisks
      summary: Google Cloud Compute Engine List Disks
      description: Retrieves a list of persistent disks contained within the specified zone.
      tags:
      - Disks
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      - name: zone
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Disk'
                  nextPageToken:
                    type: string
components:
  schemas:
    Disk:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        sizeGb:
          type: string
        type:
          type: string
        status:
          type: string
        zone:
          type: string
        selfLink:
          type: string
        creationTimestamp:
          type: string
          format: date-time
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/compute: Full access to Compute Engine
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform
