openapi: 3.1.0
info:
  title: Google Cloud Compute Engine Google Compute Engine Disks Networks API
  description: Creates and runs virtual machines on Google Cloud infrastructure, with support for managing disks, networks, and firewall rules.
  version: 1.0.0
  contact:
    name: Google Cloud
    url: https://cloud.google.com/compute
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://compute.googleapis.com/compute/v1
  description: Google Compute Engine API v1
security:
- oauth2:
  - https://www.googleapis.com/auth/compute
tags:
- name: Networks
  description: Manage VPC networks
paths:
  /projects/{project}/global/networks:
    get:
      operationId: listNetworks
      summary: Google Cloud Compute Engine List Networks
      description: Retrieves the list of networks available to the specified project.
      tags:
      - Networks
      parameters:
      - name: project
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Network'
                  nextPageToken:
                    type: string
components:
  schemas:
    Network:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        autoCreateSubnetworks:
          type: boolean
        IPv4Range:
          type: string
        selfLink:
          type: string
        creationTimestamp:
          type: string
          format: date-time
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/compute: Full access to Compute Engine
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud Platform
